@import url("fonts.css");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;

  background-color: #0a2a47;

  overflow: hidden;

  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html {
  font-family: Geist, serif;

  margin: 0;
  padding: 0;

  overflow: hidden;

  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  font-size: 16px;
}

.canvas-font {
  font-family: Roboto, sans-serif !important;
}

.moveable-control {
  background-color: black !important;
  z-index: 1999998 !important;
}

.moveable-control-box {
  display: "inline" !important;
  z-index: 1999998 !important;
}

.moveable-line {
  background: #4c4c4c !important;
  z-index: 1999997 !important;
  scale: 1 !important;
}

.moveable-line.moveable-rotation-line {
  border-color: black !important;
  z-index: 1999997 !important;
}

.moveable-rotation .moveable-rotation-control {
  border-radius: 10px !important;
  z-index: 1999998 !important;
  cursor: grab !important;
}

.Mui-selected {
  background-color: #1667ff !important;
}

.MuiTab-textColorPrimary {
  color: #ffffffa6 !important;
  font-size: 14px !important;
}

.MuiMenu-list {
  background-color: #012140;
  color: #ffffffa6;
  border-radius: 5px;
}

.MuiPaper-root {
  background-color: #ffffff00 !important;
  border-radius: 5px !important;
}

.MuiMenuItem-root.Mui-selected {
  background: #092a47 !important;
}

.editor {
  counter-reset: line;
  border: 1px solid #454545;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}

.MuiMenu-paper {
  overflow: visible !important;
}

h1 {
  margin: 0;
}

.textElement > p {
  margin-block-start: unset;
  margin-block-end: unset;
}

.imageElement {
  width: 100% !important;
  height: 100% !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #ffffffa6 !important;
}

.MuiSelect-select {
  color: #ffffffa6 !important;
}

.Mui-focused {
  color: #ffffffa6 !important;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-float {
  animation: float 1.5s ease-in-out infinite;
}
